* {
    font-family: Helvetica, Arial;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    font-family: Helvetica, Arial, Microsoft JhengHei;
    text-align: center;
}

h3 {
    font-size: 40px;
    color: #272727;
}

hr {
    margin: 30px auto;
    width: 50px;
    border: 0;
    height: 4px;
    background-color: #F05F40;
}

.clearfix {
    clear: both;
}

@media screen and (max-width: 1280px) {
    p {
        font-size: 13px;
    }
    nav {
        position: absolute;
        top: 0;
        z-index: 100;
        width: 100%;
        padding: 5px 0;
        background-color: rgba(0, 0, 0, .7);
    }
}

.wrap {
    max-width: 100%;
}


/* ======= header ======= */


/*== nav ==*/

nav {
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, .7);
}

.logo {
    margin-left: 50px;
    float: left;
}

.logo img {
    float: left;
    width: 50px;
    height: 50px;
}

.logo h2 {
    width: 300px;
    margin-left: 65px;
    line-height: 50px;
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    color: #E0E0E0;
}

.menu {
    float: right;
    margin-right: 50px;
}

.menu li {
    float: left;
    margin: 15px;
}

.menu a {
    color: #7B7B7B;
    font-size: 16px;
    letter-spacing: 0.7px;
    transition: .5s all ease-out;
}

.menu a:hover {
    color: #F0F0F0;
}

.hambugermenu {
    display: none;
    position: absolute;
    right: 30px;
    line-height: 50px;
    font-size: 30px;
}

.hambuber a {
    color: #f5f5f5;
}

.test {
    display: block;
}

.test h4 {
    color: #fff;
    font-size: 20px;
}

.foodBtn .btn {
    display: inline-block;
    margin-top: 25px;
    margin-left: 50%;
    text-align: center;
    width: 100px;
    transform: translate(-50%);
    color: white;
    border: solid blue 2px;
    border-radius: 5px;
    padding: 10px;
    background-color: blue;
}

@media screen and (max-width: 1280px) {
    .wrap {
        max-width: 100%;
    }
    .menu {
        float: right;
        margin-right: 0px;
    }
    .menu li {
        float: left;
        margin: 15px;
    }
    .menu a {
        color: #7B7B7B;
        font-size: 14.5px;
        letter-spacing: 0px;
        transition: .5s all ease-out;
    }
    .menu a:hover {
        color: #F0F0F0;
    }
}

@media screen and (max-width: 768px) {
    .hambugermenu {
        display: block;
    }
    .menu {
        display: none;
    }
}

@media screen and (max-width: 420px) {
    h1 {
        font-size: 3.5em !important;
    }
    .logo {
        margin-left: 10px;
        float: left;
    }
    .logo img {
        float: left;
        width: 35px;
        height: 50px;
    }
    .logo h2 {
        width: 300px;
        margin-left: 45px;
        line-height: 50px;
        text-align: left;
        font-size: 18px;
        font-weight: 700;
        color: #E0E0E0;
    }
    .menu {
        display: none;
    }
}


/*== end nav ==*/


/*== maintitle ==*/

.header-img {
    background-image: url(../img/header.jpg);
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}

.maintitle {
    position: relative;
}

.maintitlecontent {
    max-width: 1000px;
    margin: 0 auto;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
}

.maintitlecontent h1 {
    padding: 8px 0;
    color: #FCFCFC;
    font-size: 4em;
    font-weight: 900;
    text-shadow: 2px 2px #8E8E8E;
}

.maintitlecontent hr {
    background-color: #F05F40;
}

.maintitlecontent p {
    padding: 3px 0;
    letter-spacing: 1px;
    color: #F0F0F0;
    text-shadow: 1px 1px #8E8E8E;
}

@media screen and (max-width: 768px) {
    .maintitlecontent p {
        font-size: 18px;
    }
}


/*== end maintitle ==*/


/*== about ==*/

.about {
    min-height: 400px;
    background-color: #F05F40;
}

.aboutcontent {
    padding: 100px 0;
    max-width: 1000px;
    margin: 0 auto;
}

.aboutcontent h3 {
    color: #FCFCFC;
}

.aboutcontent hr {
    background-color: #FCFCFC;
}

.aboutcontent p {
    letter-spacing: 1px;
    padding: 1px 0;
    color: #E0E0E0;
}

@media screen and (max-width: 420px) {
    .aboutcontent {
        margin: 0 30px;
    }
    .aboutcontent p {
        letter-spacing: 2px;
        padding: 10px 0;
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        text-justify: inter-ideograph;
        ;
    }
}


/*== end about ==*/


/*== skill ==*/

.skill {
    min-height: 600px;
}

.skillcontent {
    padding: 100px 0;
    max-width: 1000px;
    margin: 0 auto;
    display: none;
}

.skillcontent hr {
    background-color: #272727;
}

.skillcontent li {
    float: left;
    width: 33.3333%;
    margin: 0 auto;
}

.fa-stack {
    margin-left: 30%;
    margin-bottom: 25px;
    /*position: relative;*/
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
    transition: 0.5s;
}

.fa-inverse {
    transition: 0.5s;
}

.fa-stack:hover {
    background-color: #fff;
    transition: 0.5s;
}

.fa-inverse:hover {
    color: #F05F40;
    font-size: 1.4em;
    transition: 0.5s;
}

.st-feature {
    background-color: #F05F40;
    border-radius: 50%;
    position: relative;
    transform: rotate(0) scale(1);
}

.skillcontent h4 {
    font-size: 18px;
    font-weight: 600;
    margin: 15px 0;
}

.skillcontent p {
    line-height: 1.4;
    color: #777;
}

.skillcontent p:first-child {
    padding-top: 20px;
}

@media screen and (max-width: 420px) {
    .skill {
        min-height: auto;
    }
    .skill-width {
        margin-left: 13%;
        font-size: 3em;
    }
    .skill-p {
        display: none;
    }
}


/*== end skill ==*/


/*== works ==*/

.works {
    position: relative;
}

.works h3 {
    color: #FCFCFC;
    text-shadow: 1px 1px 1px #222;
}

.workscontent hr {
    background-color: #FCFCFC;
}

.works-img {
    background-image: url(../img/content.jpg);
    width: 100%;
    height: 60em;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
}

.workscontent {
    max-width: 1000px;
    margin: 0 auto;
    padding: 100px 0;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.padview,
.buttonclick,
.phoneview {
    display: none;
}

.workscontent li {
    float: left;
    margin: 5px 12px 5px 0;
}

.workscontent img {
    width: 300px;
    height: 200px;
}

@media screen and (max-width: 1280px) {
    .deskview,
    .phoneview {
        display: none;
    }
    .padview,
    .buttonclick {
        display: block;
    }
    .padview {
        width: 800px;
        margin-top: 80px;
    }
    .padview ul {
        margin-left: 9%;
    }
    .workscontent li {
        float: left;
        margin: 0 5px;
        margin-bottom: 2%;
        width: 45%;
    }
    .works-img {
        height: 55em;
    }
    .workscontent img {
        width: 300px;
        height: 200px;
    }
    .buttonclick {
        margin-left: 43% !important;
    }
    .buttonclick li {
        font-size: 1.4em;
        margin: 30px 15px;
        width: 0;
    }
    .buttonclick a {
        color: #333;
    }
    .buttonclick a:hover {
        color: white;
        transition: 0.3s;
    }
}

@media screen and (max-width: 420px) {
    .works-img {
        max-height: 85vh;
        width: 100%;
    }
    .deskview,
    .padview {
        display: none;
    }
    .phoneview {
        display: block;
        margin-top: 50px;
    }
    .buttonclick {
        margin-left: 38% !important;
    }
}


/*titletext*/

.box {
    position: relative;
}

.title {
    opacity: 0;
}

.title:hover {
    opacity: 1;
    transition: all 0.5s;
}

.titletext {
    width: 300px;
    height: 200px;
    position: absolute;
    background-color: rgba(255, 255, 255, .7);
    transition: all ease .5s;
}

@media screen and (max-width: 1280px) {
    .titletext {
        display: none;
    }
}

.titletext h4 {
    margin-top: 25%;
    margin-bottom: 10px;
    font-weight: 700;
}

.titletext p {
    font-size: 22px;
    font-weight: 700;
}

@media screen and (max-width: 420px) {
    .titletext {
        display: none;
    }
}


/*end titletext*/


/*== end works ==*/


/*== contact ==*/

.contact {
    min-height: 700px;
}

.contactcontent {
    padding: 100px 0;
    max-width: 1000px;
    margin: 0 auto;
    display: none;
}

.box3 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: url(../img/me.jpg);
    background-repeat: no-repeat;
    background-position: 58% 35%;
    display: inline-block;
    margin: 5px 0 25px 51%;
    transform: translateX(-50%);
}

.contactcontent img {
    width: 240px;
    height: auto;
    border: 7px solid #eee;
}

.me {
    border-radius: 47% 50%;
}

.contactcontent h4 {
    font-weight: 700;
    font-size: 1.7em;
    margin-bottom: 5px;
}

.contactcontent p {
    color: #777;
}

.contactcontent ul {
    display: table;
    margin: 25px auto 0 auto;
}

.contactcontent a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    margin: 0 6px;
    background-color: #222;
    border-radius: 50%;
}

.contactcontent a:hover {
    background-color: #F05F40;
    transition: 0.3s;
}

.contactcontent li {
    float: left;
}

.contactcontent i {
    font-size: 20px;
    line-height: 40px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.contactcontent .mailicon {
    margin-left: 0;
}

@media screen and (max-width: 1280px) {
    .contactcontent p {
        margin-top: 20px;
        font-size: 24px;
    }
}

@media screen and (max-width: 420px) {
    .contactcontent p {
        margin-top: 20px;
        font-size: 24px;
    }
}


/*== end contact ==*/


/*== footer ==*/

footer {
    position: relative;
}

.footer-img {
    background-image: url(../img/footer.jpg);
    max-width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
}

footer p {
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
    top: 0;
    line-height: 200px;
    font-size: 15px;
    letter-spacing: 2px;
    color: #fcfcfc;
}